# --- Estándar de Angular/Node ---
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache
npm-debug.log
yarn-error.log

# --- Python y Backend ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
backend/requirements.txt.bak

# --- Seguridad y Configuración (¡Muy importante!) ---
.env
.env.local
.env.*
*.mpp
*.mppx

# --- Archivos de Carga y Datos Geográficos ---
# Ignoramos las carpetas completas donde se suben archivos
backend/uploads/
backend/Datos/
../Datos/

# Ignoramos archivos por extensión por si acaso quedan sueltos
*.kmz
*.kml
*.tif
*.tiff
*.shp
*.dbf
*.prj

# --- IDEs y Editores ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
.project
.settings/

# --- Sistema ---
.DS_Store
Thumbs.db